<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.MessageBoardDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.MessageBoard">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="oid" jdbcType="BIGINT" property="oid" />
    <result column="wid" jdbcType="BIGINT" property="wid" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oid, wid, `time`, content
  </sql>
  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message_board
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from message_board
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" keyProperty="id" parameterType="com.fit.entity.MessageBoard" useGeneratedKeys="true">
    insert into message_board
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="wid != null">
        wid,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="wid != null">
        #{wid,jdbcType=BIGINT},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.MessageBoard">
    update message_board
    <set>
      <if test="oid != null">
        oid = #{oid,jdbcType=BIGINT},
      </if>
      <if test="wid != null">
        wid = #{wid,jdbcType=BIGINT},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="oid != null">
         and oid = #{oid,jdbcType=BIGINT}
      </if>
      <if test="wid != null">
         and wid = #{wid,jdbcType=BIGINT}
      </if>
      <if test="time != null">
         and `time` = #{time,jdbcType=TIMESTAMP}
      </if>
      <if test="content != null and content != ''">
         and content = #{content,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="com.fit.entity.MessageBoard" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from message_board
    <include refid="Base_Where_List" />
    order by id desc 
	<if test="offset != null and limit != null">
	limit ${offset}, ${limit}
	</if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    select count(1) from message_board
    <include refid="Base_Where_List" />
  </select>
  <select id="get" parameterType="java.util.Map" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from message_board
     <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete">
    delete from message_board
     where id in (
     <foreach collection="array" item="id" separator=",">
     #{id}
     </foreach>
    )
  </delete>
</mapper>