UNKNOWN {
    MARGIN-TOP: 10px
}

.navh1 {
    PADDING-BOTTOM: 20px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 10px;
    WIDTH: 970px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(../image/h1bg.gif) no-repeat 0px 4px;
    FLOAT: left;
    COLOR: #888;
    FONT-WEIGHT: normal;
    PADDING-TOP: 0px
}

.left {
    WIDTH: 190px;
    DISPLAY: inline;
    FLOAT: left;
    MARGIN-RIGHT: 14px
}

.right {
    WIDTH: 776px;
    FLOAT: left
}

.pindaoh2 {
    PADDING-LEFT: 120px;
    WIDTH: 70px;
    BACKGROUND: url(../image/jjbj_00.gif);
    HEIGHT: 25px;
    FONT-WEIGHT: normal;
    PADDING-TOP: 25px
}

.pindaoh2 A {
    COLOR: #b7252f
}

.pindaoh2 A:hover {
    COLOR: #b7252f;
    TEXT-DECORATION: underline
}

.l_list {
    BORDER-BOTTOM: #ccc 1px solid;
    BORDER-LEFT: #ccc 1px solid;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 6px;
    WIDTH: 178px;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #ccc 0px solid;
    BORDER-RIGHT: #ccc 1px solid;
    PADDING-TOP: 0px
}

.l_list H3 {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 20px;
    WIDTH: 156px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(../image/icon_12.gif) no-repeat 0px 6px;
    FONT-SIZE: 12px;
    PADDING-TOP: 6px
}

.l_list H4 {
    PADDING-BOTTOM: 6px;
    LINE-HEIGHT: 21px;
    PADDING-LEFT: 0px;
    WIDTH: 178px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(../image/line_08.gif) no-repeat;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    PADDING-TOP: 10px
}

.fenlei {
    WIDTH: 776px
}

.fenlei H2 {
    LINE-HEIGHT: 30px;
    WIDTH: 776px;
    MARGIN-BOTTOM: 10px;
    BACKGROUND: url(../image/flh2.gif) no-repeat 50% bottom;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal
}

.fenlei H2 SPAN {
    FONT-FAMILY: "����"
}

.fenlei H2 STRONG {
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.fenlei H3 {
    PADDING-BOTTOM: 8px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 10px;
    WIDTH: 756px;
    PADDING-RIGHT: 10px;
    BACKGROUND: url(../image/line_08.gif) repeat-x 50% bottom;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    PADDING-TOP: 5px
}

.fenlei H3 SPAN {

}

.fenlei H3 .s2 {
    WIDTH: 676px
}

.fenlei H3 A {
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px
}

.fenlei H3 .select {
    LINE-HEIGHT: 20px;
    BACKGROUND: #b7252f;
    COLOR: #ffffff
}

.fenlei H3 A:hover {
    LINE-HEIGHT: 20px;
    BACKGROUND: #b7252f;
    COLOR: #ffffff
}

.l_list H4 A:hover {
    LINE-HEIGHT: 20px;
    BACKGROUND: #b7252f;
    COLOR: #ffffff
}

.pdpro {
    MARGIN-TOP: 16px;
    WIDTH: 776px
}

.pdpro .pp1 {
    BORDER-LEFT: #cfcfcf 1px solid;
    PADDING-BOTTOM: 6px;
    LINE-HEIGHT: 22px;
    PADDING-LEFT: 9px;
    WIDTH: 756px;
    PADDING-RIGHT: 9px;
    BACKGROUND: url(../image/list_03.gif) repeat-x;
    FLOAT: left;
    HEIGHT: 22px;
    BORDER-RIGHT: #cfcfcf 1px solid;
    PADDING-TOP: 6px
}

.pdpro .pp1 SPAN {
    FLOAT: left
}

.pdpro .pp1 .sp1 {
    MARGIN-LEFT: 260px
}

.pdpro .pp1 .sp2 {
    FLOAT: right
}

.pdpro .pp1 SPAN STRONG {
    COLOR: #ff6600
}

.pdpro .pp2 {
    MARGIN-TOP: 20px;
    WIDTH: 776px;
    FLOAT: left
}

.pdpro .pp2 SPAN {
    FLOAT: right
}

.pdpro .pp2 .abord {
    MARGIN-RIGHT: 6px
}

.pdpro .pp2 .abord A {
    BORDER-BOTTOM: #ccc 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #ccc 1px solid;
    LINE-HEIGHT: 18px;
    WIDTH: 18px;
    DISPLAY: inline;
    FLOAT: left;
    MARGIN-LEFT: 6px;
    BORDER-TOP: #ccc 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #ccc 1px solid
}

.pdpro .pp2 .abord A:hover {
    BORDER-BOTTOM: #ff6600 1px solid;
    BORDER-LEFT: #ff6600 1px solid;
    COLOR: #ff0000;
    BORDER-TOP: #ff6600 1px solid;
    BORDER-RIGHT: #ff6600 1px solid
}

.pdpro .pp2 .abord .selects {
    BORDER-BOTTOM: #ff6600 1px solid;
    BORDER-LEFT: #ff6600 1px solid;
    COLOR: #ff0000;
    BORDER-TOP: #ff6600 1px solid;
    BORDER-RIGHT: #ff6600 1px solid
}

.top5 {
    MARGIN-TOP: 16px;
    WIDTH: 190px
}

.top5 H2 {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 27px;
    PADDING-LEFT: 10px;
    WIDTH: 180px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(../image/jjbjh2_05.gif);
    FLOAT: left;
    HEIGHT: 27px;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 3px
}

.xstop5 {
    BORDER-BOTTOM: #ccc 1px solid;
    BORDER-LEFT: #ccc 1px solid;
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 5px;
    WIDTH: 178px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ccc 0px solid;
    BORDER-RIGHT: #ccc 1px solid;
    PADDING-TOP: 5px
}

.xstop5 UL {
    PADDING-BOTTOM: 9px;
    PADDING-LEFT: 3px;
    WIDTH: 175px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(../image/line_08.gif) repeat-x 50% bottom;
    FLOAT: left;
    PADDING-TOP: 8px
}

.xstop5 .ullast {
    BACKGROUND: none transparent scroll repeat 0% 0%
}

.xstop5 LI {
    LINE-HEIGHT: 20px;
    WIDTH: 110px;
    FLOAT: left;
    COLOR: #888;
    OVERFLOW: hidden
}

.xstop5 LI SPAN {
    COLOR: #ff6600;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.xstop5 .liimg {
    MARGIN: 0px 5px 0px 0px;
    WIDTH: 60px;
    DISPLAY: inline
}

.xstop5 .liimg0 {
    MARGIN: 0px 0px 0px 5px;
    WIDTH: 60px;
    DISPLAY: inline
}

.xstop5 LI IMG {
    WIDTH: 60px;
    HEIGHT: 60px
}

.pdpro UL {
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 5px;
    WIDTH: 181px;
    PADDING-RIGHT: 5px;
    FLOAT: left;
    PADDING-TOP: 10px
}

.pdpro UL LI {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 18px;
    MARGIN: 5px 0px;
    WIDTH: 181px;
    COLOR: #555
}

.pdpro .tit {
    WIDTH: 181px;
    HEIGHT: 36px;
    OVERFLOW: hidden
}

.pdpro S {
    COLOR: #999;
    FONT-SIZE: 12px
}

.pdpro LI SPAN {
    COLOR: #ff6600
}

.pdpro STRONG {
    COLOR: #ff6600;
    FONT-WEIGHT: bold
}

.pdpro .gm {
    MARGIN-TOP: 10px;
    DISPLAY: block;
    HEIGHT: 22px;
    OVERFLOW: hidden
}

.pdpro .gm SPAN {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 22px;
    PADDING-LEFT: 0px;
    WIDTH: 42px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(../image/zkbg.gif) no-repeat;
    FLOAT: left;
    HEIGHT: 22px;
    MARGIN-LEFT: 13px;
    PADDING-TOP: 0px
}

.pdpro .guanzhu {
    COLOR: #005aa0;
    FONT-WEIGHT: normal
}

.pdpro UL A:hover {
    TEXT-DECORATION: underline
}

.pdpro .guanzhu A {
    COLOR: #005aa0
}

.pdpro .guanzhu A:hover {
    COLOR: #005aa0
}

.taocan {
    WIDTH: 776px;
    HEIGHT: auto
}

.taocan .tc_left {
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    WIDTH: 260px;
    PADDING-RIGHT: 2px;
    FLOAT: left;
    HEIGHT: 255px;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-TOP: 2px
}

.taocan .tc_left IMG {
    WIDTH: 255px;
    HEIGHT: 255px
}

.taocan .tc_lefta {
    PADDING-LEFT: 3px;
    WIDTH: 52px;
    FLOAT: left;
    HEIGHT: 260px
}

.taocan .tc_lefta LI {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 4px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 6px;
    WIDTH: 46px;
    FLOAT: left;
    HEIGHT: 46px
}

.taocan .tc_lefta LI IMG {
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    MARGIN: 2px 1px;
    WIDTH: 40px;
    HEIGHT: 40px;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.taocan .tc_lefta LI.select {
    BACKGROUND: url(../image/taoc.png) no-repeat 0px -103px
}

.taocan .tc_leftb {
    WIDTH: 455px;
    FLOAT: left;
    HEIGHT: 260px
}

.taocan .tc_leftb .tc_lb_p {
    WIDTH: 455px;
    HEIGHT: auto
}

.taocan .tc_leftb .tc_lb_p .tc_lb_pleft {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 18px;
    WIDTH: 87px;
    BACKGROUND: url(../image/taoc.png) no-repeat 0px 0px;
    FLOAT: left;
    HEIGHT: 72px;
    COLOR: #ffffff;
    MARGIN-LEFT: 15px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 15px
}

.taocan .tc_leftb .tc_lb_p .tc_lb_pright {
    LINE-HEIGHT: 22px;
    PADDING-LEFT: 20px;
    WIDTH: 315px;
    FLOAT: right;
    HEIGHT: 87px
}

.taocan .tc_leftb .tc_lb_p .tc_lb_pright SPAN {
    PADDING-RIGHT: 30px;
    BACKGROUND: url(../image/taoc.png) no-repeat 0px -87px
}

.taocan .tc_leftb .tc_lb_p .tc_lb_pright EM {
    COLOR: #ff6600;
    FONT-SIZE: 30px;
    FONT-WEIGHT: bold
}

.taocan_title {
    TEXT-ALIGN: left;
    LINE-HEIGHT: 22px;
    MARGIN-TOP: 15px;
    WIDTH: 776px;
    HEIGHT: 22px;
    FONT-WEIGHT: bold
}

.taocan_tp {
    WIDTH: 776px;
    HEIGHT: auto
}

.taocan_tp LI {
    BORDER-BOTTOM: #fee2a1 1px solid;
    BORDER-LEFT: #fee2a1 1px solid;
    PADDING-BOTTOM: 10px;
    MARGIN: 5px;
    PADDING-LEFT: 10px;
    WIDTH: 350px;
    PADDING-RIGHT: 10px;
    BACKGROUND: #fffdef;
    FLOAT: left;
    HEIGHT: 240px;
    BORDER-TOP: #fee2a1 1px solid;
    BORDER-RIGHT: #fee2a1 1px solid;
    PADDING-TOP: 10px
}

.taocan_tp LI.select {
    BORDER-BOTTOM: #fcbb29 1px solid;
    BORDER-LEFT: #fcbb29 1px solid;
    BACKGROUND: #fff3d9;
    BORDER-TOP: #fcbb29 1px solid;
    BORDER-RIGHT: #fcbb29 1px solid
}

.taocan_tp LI .tc_li_title {
    WIDTH: 350px;
    HEIGHT: 80px
}

.taocan_tp LI .tc_li_title IMG {
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 1px;
    WIDTH: 78px;
    PADDING-RIGHT: 1px;
    FLOAT: left;
    HEIGHT: 78px;
    BORDER-TOP: #cccccc 1px solid;
    MARGIN-RIGHT: 10px;
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-TOP: 1px
}

.taocan_tp LI .tc_li_title SPAN {
    LINE-HEIGHT: 22px;
    COLOR: #666666
}

.taocan_tp LI .tc_li_title SPAN A {
    COLOR: #3366ff
}

.taocan_tp LI .tc_li_title SPAN EM {
    COLOR: #ff6600;
    FONT-SIZE: 20px;
    FONT-WEIGHT: bold
}

.taocan_tp LI .tc_li_yanse {
    MARGIN-TOP: 10px;
    WIDTH: 350px;
    HEIGHT: auto
}

.taocan_tp LI .tc_li_yanse .tc_li_ys_left {
    TEXT-ALIGN: right;
    WIDTH: 75px;
    FLOAT: left;
    HEIGHT: auto;
    COLOR: #ff6600
}

.taocan_tp LI .tc_li_yanse .tc_li_ys_right {
    TEXT-ALIGN: left;
    PADDING-LEFT: 5px;
    WIDTH: 275px;
    FLOAT: left;
    HEIGHT: auto
}

.taocan_tp LI .tc_li_yanse .tc_li_ys_right IMG {
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 1px;
    WIDTH: 40px;
    PADDING-RIGHT: 1px;
    BACKGROUND: #ffffff;
    FLOAT: left;
    HEIGHT: 40px;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-TOP: 1px
}

.taocan_tp LI .tc_li_yanse .tc_li_ys_right .ipnut_a {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-BOTTOM: 2px;
    LINE-HEIGHT: 18px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    BACKGROUND: #ffffff;
    FLOAT: left;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-TOP: 2px
}

.taocan_order {
    TEXT-ALIGN: center;
    MARGIN-TOP: 10px;
    WIDTH: 776px;
    HEIGHT: auto;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-TOP: 10px
}
