BODY {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

DIV {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

DL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

DT {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

DD {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

UL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

OL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

LI {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

H1 {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

H2 {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

H3 {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

H4 {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

H5 {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

H6 {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

PRE {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

CODE {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

FORM {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

FIELDSET {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

LEGEND {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

INPUT {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

TEXTAREA {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

P {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

BLOCKQUOTE {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

TH {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

TD {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

IMG {
    BORDER-BOTTOM-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-TOP-STYLE: none;
    BORDER-LEFT-STYLE: none
}

.tao_herp {
    MARGIN: 0px auto;
    WIDTH: 100%
}

.tao_top {
    MARGIN: 0px auto;
    WIDTH: 980px;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
    OVERFLOW: hidden
}

.tao_top P {
    LINE-HEIGHT: 26px;
    FLOAT: left;
    COLOR: #7b7b7b
}

.tao_top P SPAN {
    COLOR: #de0000
}

.tao_top P SPAN A {
    COLOR: #de0000;
    TEXT-DECORATION: none
}

.tao_top P SPAN A:hover {
    COLOR: #de0000;
    TEXT-DECORATION: underline
}

.tao_top UL {
    FLOAT: right
}

.tao_top LI {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN-TOP: 4px !important;
    PADDING-LEFT: 0px;
    WIDTH: 80px;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    FONT-WEIGHT: normal;
    LIST-STYLE-IMAGE: none;
    MARGIN-RIGHT: 8px;
    PADDING-TOP: 0px
}

.tao_top LI SPAN {
    MARGIN: 0px 2px;
    COLOR: #ff3400;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.tao_top LI SPAN A {
    COLOR: #ff3400;
    TEXT-DECORATION: none
}

.tao_top LI SPAN A:hover {
    COLOR: #900;
    TEXT-DECORATION: underline
}

.tao_top LI.mainlevel A {
    LINE-HEIGHT: 18px;
    DISPLAY: block;
    HEIGHT: 18px
}

.tao_top .tao_xhcai {
    BORDER-BOTTOM: #6d2634 1px solid;
    POSITION: absolute;
    BORDER-LEFT: #6d2634 1px solid;
    PADDING-BOTTOM: 8px;
    MARGIN: 0px 0px 0px -50px;
    PADDING-LEFT: 0px;
    WIDTH: 98px;
    PADDING-RIGHT: 0px;
    BACKGROUND: #fff;
    HEIGHT: auto;
    BORDER-TOP: #6d2634 1px solid;
    BORDER-RIGHT: #6d2634 1px solid;
    PADDING-TOP: 8px
}

.tao_top .tao_xhcai LI {
    TEXT-ALIGN: center;
    HEIGHT: 20px
}

.tao_top .tao_xhcai LI A {
    COLOR: #313332;
    TEXT-DECORATION: none
}

.tao_top .tao_xhcai LI A:hover {
    COLOR: #900;
    TEXT-DECORATION: underline
}

.tao_top .top_banner {
    WIDTH: 980px;
    OVERFLOW: hidden
}

.tao_top .tvvi {
    DISPLAY: none
}

.tao_xhcai2 {
    BORDER-BOTTOM: #bc0a0a 1px solid;
    POSITION: absolute;
    BORDER-LEFT: #bc0a0a 1px solid;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px 0px 0px -50px;
    PADDING-LEFT: 0px;
    WIDTH: 98px;
    PADDING-RIGHT: 0px;
    BACKGROUND: #fff;
    HEIGHT: auto;
    BORDER-TOP: #bc0a0a 1px solid;
    BORDER-RIGHT: #bc0a0a 1px solid;
    PADDING-TOP: 5px
}

.tao_xhcai2 LI {
    TEXT-ALIGN: center;
    HEIGHT: 19px
}

.tao_xhcai2 LI A {
    COLOR: #b90606;
    TEXT-DECORATION: none
}

.tao_xhcai2 LI A:hover {
    COLOR: #900;
    TEXT-DECORATION: underline
}

.tao_topnav {
    WIDTH: 980px;
    OVERFLOW: hidden
}

.navlogo {
    MARGIN-TOP: 19px;
    WIDTH: 194px;
    FLOAT: left;
    HEIGHT: 56px
}

.tao_mainbav {
    WIDTH: 779px;
    FLOAT: right
}

.tao_mainbav P {
    TEXT-ALIGN: right;
    MARGIN-TOP: 12px
}

.topnav1 {
    MARGIN: 16px 0px 0px;
    WIDTH: 780px;
    OVERFLOW: hidden
}

.nav1 {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 30px;
    WIDTH: 84px;
    BACKGROUND: url(../image/t_picc_42.gif) no-repeat 0px -32px;
    FLOAT: left;
    HEIGHT: 32px;
    COLOR: #d10100;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.nav1 A {
    DISPLAY: block;
    BACKGROUND: url(../image/t_picc_42.gif) no-repeat 0px -32px;
    COLOR: #fff;
    TEXT-DECORATION: none
}

.nav1 A:hover {
    BACKGROUND: url(../image/t_picc_42.gif) no-repeat 0px 0px;
    COLOR: #d10100;
    TEXT-DECORATION: none
}

.nav2 {
    MARGIN: 0px 0px 0px 3px;
    WIDTH: 525px;
    FLOAT: left
}

.nav2_left {
    WIDTH: 4px;
    FLOAT: left;
    HEIGHT: 30px
}

.nav2_cent {
    WIDTH: 433px;
    BACKGROUND: url(../image/t_pic_31.jpg) repeat-x;
    FLOAT: left;
    HEIGHT: 30px
}

.nav2_cent LI {
    LINE-HEIGHT: 30px;
    FLOAT: left;
    COLOR: #d10100;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.nav2_right {
    WIDTH: 5px;
    FLOAT: left;
    HEIGHT: 30px
}

.nc {
    TEXT-ALIGN: center;
    MARGIN-TOP: 2px;
    WIDTH: 82px;
    BACKGROUND: url(../image/t_pic_36.jpg) no-repeat right top;
    HEIGHT: 31px
}

.nc A {
    DISPLAY: block;
    COLOR: #d10100;
    TEXT-DECORATION: none
}

.nc A:hover {
    BACKGROUND: url(../image/t_picc_48.gif) no-repeat 0px -32px;
    COLOR: #fff;
    TEXT-DECORATION: none
}

.nc1 {
    TEXT-ALIGN: center;
    MARGIN-TOP: 2px;
    WIDTH: 102px;
    BACKGROUND: url(../image/t_pic_36.jpg) no-repeat right top;
    HEIGHT: 31px
}

.nc1 A {
    DISPLAY: block;
    COLOR: #d10100;
    TEXT-DECORATION: none
}

.nc1 A:hover {
    BACKGROUND: url(../image/t_pic_42.jpg) no-repeat;
    COLOR: #fff;
    TEXT-DECORATION: none
}

.nc2 {
    TEXT-ALIGN: center;
    MARGIN-TOP: 2px;
    WIDTH: 82px;
    HEIGHT: 31px
}

.nc2 A {
    DISPLAY: block;
    COLOR: #d10100;
    TEXT-DECORATION: none
}

.nc2 A:hover {
    BACKGROUND: url(../image/t_picc_48.gif) no-repeat 0px -32px;
    COLOR: #fff;
    TEXT-DECORATION: none
}

.topnav3 {
    LINE-HEIGHT: 30px;
    FLOAT: right;
    COLOR: #cf0101;
    OVERFLOW: hidden;
    FONT-WEIGHT: bold
}

.topnav3 A {
    COLOR: #cf0101;
    MARGIN-RIGHT: 4px;
    TEXT-DECORATION: none
}

.topnav3 A:hover {
    COLOR: #900;
    TEXT-DECORATION: underline
}

ma_banner {
    WIDTH: 538px
}

.zfu {
    BORDER-BOTTOM: #e1e1e1 1px solid;
    BORDER-LEFT: #e1e1e1 1px solid;
    MARGIN: 5px 0px 0px;
    WIDTH: 218px;
    OVERFLOW: hidden;
    BORDER-TOP: #e1e1e1 1px solid;
    BORDER-RIGHT: #e1e1e1 1px solid
}

#pt_zix_1 {
    WIDTH: 218px;
    BACKGROUND: url(../image/t_picbg_48.jpg) repeat-x;
    HEIGHT: 27px;
    CLEAR: both;
    OVERFLOW: hidden
}

#pt_zix_1 UL LI {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 24px;
    MARGIN-TOP: 1px;
    WIDTH: 85px;
    DISPLAY: block;
    FONT-FAMILY: "宋体";
    FLOAT: left;
    HEIGHT: 26px;
    COLOR: #4d4d4d;
    FONT-SIZE: 12px;
    CURSOR: pointer;
    FONT-WEIGHT: bold;
    MARGIN-RIGHT: 4px
}

#pt_zix_1 .hover {
    BACKGROUND: url(../image/t_pic_48.gif) no-repeat;
    COLOR: #4d4d4d;
    FONT-WEIGHT: bold
}

.ind_zix_cp {
    OVERFLOW: hidden
}

.ind_zix_cp H1 {
    MARGIN: 4px 0px 4px 12px;
    WIDTH: 52px;
    FLOAT: left
}

.tao_cux {
    TEXT-ALIGN: center;
    MARGIN-TOP: 5px;
    WIDTH: 220px
}

.taozf_main {
    MARGIN: 12px auto 0px;
    WIDTH: 980px;
    OVERFLOW: hidden
}

.tzf_left {
    WIDTH: 762px;
    FLOAT: left;
    OVERFLOW: hidden
}

.maijiu {
    WIDTH: 762px;
    OVERFLOW: hidden
}

#pt_crad_1 {
    BACKGROUND: url(../image/bgimg.jpg) repeat-x
}

#pt_crad_1 {
    BORDER-LEFT: #ddd 1px solid;
    LINE-HEIGHT: 38px;
    WIDTH: 760px;
    BACKGROUND-POSITION: 0px -292px;
    FLOAT: left;
    HEIGHT: 38px;
    OVERFLOW: hidden;
    BORDER-TOP: #cc0001 2px solid;
    BORDER-RIGHT: #ddd 1px solid
}

#pt_crad_1 .hover {
    BACKGROUND-COLOR: #fff;
    COLOR: #c00;
    FONT-WEIGHT: bold
}

#pt_crad_1 UL LI {
    TEXT-ALIGN: center;
    WIDTH: 151px;
    DISPLAY: block;
    FONT-FAMILY: "宋体";
    BACKGROUND: url(../image/t_pic_05.gif) no-repeat;
    FLOAT: left;
    HEIGHT: 38px;
    COLOR: #333;
    FONT-SIZE: 14px;
    CURSOR: pointer;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #dddddd 1px solid
}

#con_two_1 {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 20px;
    WIDTH: 740px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: Arial, "宋体";
    MARGIN-BOTTOM: 10px;
    HEIGHT: 210px;
    COLOR: #333;
    CLEAR: both;
    OVERFLOW: hidden;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 10px
}

#con_two_2 {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 20px;
    WIDTH: 740px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: Arial, "宋体";
    MARGIN-BOTTOM: 10px;
    HEIGHT: 210px;
    COLOR: #333;
    CLEAR: both;
    OVERFLOW: hidden;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 10px
}

#con_two_3 {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 20px;
    WIDTH: 740px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: Arial, "宋体";
    MARGIN-BOTTOM: 10px;
    HEIGHT: 210px;
    COLOR: #333;
    CLEAR: both;
    OVERFLOW: hidden;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 10px
}

#con_two_4 {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 20px;
    WIDTH: 740px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: Arial, "宋体";
    MARGIN-BOTTOM: 10px;
    HEIGHT: 210px;
    COLOR: #333;
    CLEAR: both;
    OVERFLOW: hidden;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 10px
}

#con_two_5 {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 20px;
    WIDTH: 740px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: Arial, "宋体";
    MARGIN-BOTTOM: 10px;
    HEIGHT: 210px;
    COLOR: #333;
    CLEAR: both;
    OVERFLOW: hidden;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 10px
}

#con_one_1 {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 20px;
    WIDTH: 740px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: Arial, "宋体";
    MARGIN-BOTTOM: 10px;
    HEIGHT: 210px;
    COLOR: #333;
    CLEAR: both;
    OVERFLOW: hidden;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 10px
}

#con_one_2 {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 20px;
    WIDTH: 740px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: Arial, "宋体";
    MARGIN-BOTTOM: 10px;
    HEIGHT: 210px;
    COLOR: #333;
    CLEAR: both;
    OVERFLOW: hidden;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 10px
}

#con_one_3 {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 20px;
    WIDTH: 740px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: Arial, "宋体";
    MARGIN-BOTTOM: 10px;
    HEIGHT: 210px;
    COLOR: #333;
    CLEAR: both;
    OVERFLOW: hidden;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 10px
}

#con_one_4 {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 20px;
    WIDTH: 740px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: Arial, "宋体";
    MARGIN-BOTTOM: 10px;
    HEIGHT: 210px;
    COLOR: #333;
    CLEAR: both;
    OVERFLOW: hidden;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 10px
}

.ind_hot DL {
    TEXT-ALIGN: center;
    MARGIN-TOP: 10px;
    WIDTH: 148px;
    FLOAT: left;
    HEIGHT: 190px;
    MARGIN-LEFT: 10px;
    MARGIN-RIGHT: 15px
}

.ind_hot DT {
    WIDTH: 148px;
    HEIGHT: 108px
}

.ind_hot DD {
    WIDTH: 148px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14px;
    OVERFLOW: hidden
}

DD SPAN.mai {
    COLOR: #ff0000
}

.youhui {
    WIDTH: 762px;
    OVERFLOW: hidden
}

.tzf_right {
    WIDTH: 210px;
    FLOAT: right;
    OVERFLOW: hidden
}

.tzf_ggao {
    WIDTH: 210px;
    OVERFLOW: hidden
}

.tzf_ggao IMG {
    MARGIN-BOTTOM: 3px
}