.Air {
	HEIGHT: auto; CLEAR: both; OVERFLOW: hidden
}
.AntAccout_Center {
	WIDTH: 552px; FLOAT: left; HEIGHT: auto; MARGIN-LEFT: 0px; OVERFLOW: hidden
}
.AntAccout_Center_Warning {
	BORDER-BOTTOM: #fae2b9 1px solid; BORDER-LEFT: #fae2b9 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; WIDTH: 535px; PADDING-RIGHT: 0px; BACKGROUND: #ffffe3; HEIGHT: auto; COLOR: #404040; CLEAR: both; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #fae2b9 1px solid; BORDER-RIGHT: #fae2b9 1px solid; PADDING-TOP: 2px
}
.AntAccout_Center_Warning SPAN {
	PADDING-LEFT: 17px; WIDTH: 60px; DISPLAY: block; BACKGROUND: url(images/AntAccout.gif) -5px -210px; FLOAT: left; COLOR: #ff6600; PADDING-TOP: 4px
}
.AntAccout_Center_Warning DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 20px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.AntAccout_Center_Warning DIV UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.AntAccout_Center_Warning DIV UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; HEIGHT: 20px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.AntAccout_Center_Warning A {
	COLOR: #404040
}
.AntAccout_Center_Warning A:hover {
	COLOR: #ff6600
}
.AntAccout_Center .AntAccout_Center_User {
	BORDER-BOTTOM: #c4d3e8 1px solid; BORDER-LEFT: #c4d3e8 1px solid; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-LEFT: 18px; WIDTH: 532px; PADDING-RIGHT: 0px; BACKGROUND: #f6f9fc; HEIGHT: 170px; OVERFLOW: hidden; BORDER-TOP: #c4d3e8 1px solid; BORDER-RIGHT: #c4d3e8 1px solid; PADDING-TOP: 20px
}
.AntAccout_Center_User .AntAccout_Center_Left {
	TEXT-ALIGN: center; WIDTH: 142px; BACKGROUND: url(images/AntAccout.gif) -714px -42px; FLOAT: left; HEIGHT: 143px; OVERFLOW: hidden
}
.AntAccout_Center_User .AntAccout_Center_Left IMG {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 1px; MARGIN: 17px 0px 0px; PADDING-LEFT: 1px; WIDTH: 90px; PADDING-RIGHT: 1px; HEIGHT: 90px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 1px
}
.AntAccout_Center_Left P {
	MARGIN: 0px auto; WIDTH: 80px
}
.AntAccout_Center_Left P A {
	LINE-HEIGHT: 2.5em; COLOR: #f57f23
}
.AntAccout_Center_Left P A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.AntAccout_Center_Left SPAN {
	MARGIN-TOP: 7px; WIDTH: 16px; DISPLAY: block; BACKGROUND: url(images/AntAccout.gif) -733px -197px; FLOAT: left; HEIGHT: 12px
}
.AntAccout_Center_Rithg {
	LINE-HEIGHT: 2.1em; PADDING-LEFT: 15px; WIDTH: 370px; FLOAT: left; HEIGHT: auto; COLOR: #404040; OVERFLOW: hidden
}
.AntAccout_Center_Rithg LI {
	CLEAR: both
}
.AntAccout_Center_Rithg .A {
	COLOR: #333333; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.AntAccout_Center_Rithg .B SPAN {
	COLOR: #0066cc
}
.AntAccout_Center_Rithg .C {
	WIDTH: 360px
}
.AntAccout_Center_Rithg .D A {
	COLOR: #0066cc
}
.AntAccout_Center_Rithg .D A:hover {
	
}
.AntAccout_Center_Rithg .E SPAN {
	COLOR: #ff0000
}
.AntAccout_Center_Rithg .E A {
	COLOR: #0033cc
}
.AntAccout_Center_Rithg .F .Integral {
	FLOAT: left
}
.AntAccout_Center_Rithg .F .SMS {
	MARGIN: 6px 5px 0px 20px; WIDTH: 13px; DISPLAY: block; BACKGROUND: url(images/AntAccout.gif) -861px -50px; FLOAT: left; HEIGHT: 11px
}
.AntAccout_Center_Rithg .F .SMS_ {
	FLOAT: left; MARGIN-RIGHT: 30px
}
.AntAccout_Center_Rithg .F .SMS_:hover {
	COLOR: #207cf5
}
.AntAccout_Center_Rithg .F .NewSMS {
	PADDING-BOTTOM: 0px; MARGIN-TOP: -3px; PADDING-LEFT: 10px; WIDTH: 88px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(images/AntAccout.gif) -853px -196px; FLOAT: left; HEIGHT: 22px; OVERFLOW: hidden; PADDING-TOP: 3px
}
.AntAccout_Center_Rithg .F .NewSMS SPAN {
	COLOR: #ff0000
}
.AntAccout_Right {
	WIDTH: 200px; FLOAT: right; HEIGHT: auto; OVERFLOW: hidden
}
.AntAccout_Right .AntAccout_Right_List_ {
	BORDER-LEFT: #bbd2de 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 8px; WIDTH: 190px; PADDING-RIGHT: 0px; OVERFLOW: hidden; BORDER-RIGHT: #bbd2de 1px solid; PADDING-TOP: 5px
}
.AntAccout_Right .AntAccout_Right_List {
	MARGIN: 0px auto; WIDTH: 160px; HEIGHT: auto; OVERFLOW: hidden
}
.AntAccout_Right .AntAccout_Right_List LI {
	LINE-HEIGHT: 25px; WIDTH: 155px; BACKGROUND: url(images/AntAccout.gif) left -240px; HEIGHT: 25px; OVERFLOW: hidden
}
.AntAccout_Right .AntAccout_Right_List A {
	COLOR: #4c4c4c
}
.AntAccout_Right .AntAccout_Right_List A:hover {
	COLOR: #ff3300
}
.AntAccout_Center_InfoTitle {
	LINE-HEIGHT: 2.5em; PADDING-LEFT: 20px; BACKGROUND: url(images/AntAccout.gif) -164px top; HEIGHT: 35px; COLOR: #333333; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.AntAccout_Center_InfoTitle SPAN .AntMore {
	
}
.AntAccout_Center_InfoTitle SPAN {
	Z-INDEX: 10; WIDTH: 20px; DISPLAY: block; BACKGROUND: url(images/AntAccout.gif) -930px top; FLOAT: right; HEIGHT: 35px
}
.AntAccout_Center_InfoTitle #right {
	Z-INDEX: 100; PADDING-LEFT: 75px; FLOAT: left; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.AntAccout_Center_InfoTitle #left {
	FLOAT: left
}
.AntAccout_Center_InfoEndiT {
	WIDTH: auto; BACKGROUND: url(images/AntAccout.gif) -162px -230px; HEIGHT: 3px; CLEAR: both; OVERFLOW: hidden
}
.AntAccout_Center_InfoEndiT SPAN {
	WIDTH: 20px; DISPLAY: block; BACKGROUND: url(images/AntAccout.gif) -692px -230px; FLOAT: right; HEIGHT: 3px
}
.AntAccout_Center_QuickMenu {
	MARGIN: 5px 0px; WIDTH: 552px; BACKGROUND: url(images/AntAccout.gif) -160px -40px; HEIGHT: auto
}
.AntAccout_Center_QuickMenuEnd {
	WIDTH: 552px; BACKGROUND: url(images/AntAccout.gif) -160px -203px; HEIGHT: 23px; CLEAR: both; OVERFLOW: hidden
}
.AntAccout_Center_QuickMenu .AntAccout_Content {
	MARGIN: 0px auto 0px 25px; WIDTH: 520px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 27px
}
.AntAccout_Center_QuickMenu .AntAccout_Content .A {
	FLOAT: left
}
.B {
	FLOAT: left
}
.C {
	FLOAT: left
}
.D {
	FLOAT: left
}
.AntAccout_Center_QuickMenu .AntAccout_Content .A {
	PADDING-LEFT: 30px
}
.AntAccout_Center_QuickMenu .AntAccout_Content .B {
	PADDING-RIGHT: 10px; COLOR: #3366cc
}
.AntAccout_Center_QuickMenu .AntAccout_Content .C {
	WIDTH: 110px; DISPLAY: block; FLOAT: left; COLOR: #ff0000
}
.AntAccout_Center_QuickMenu .AntAccout_Content .D {
	POSITION: relative; WIDTH: 30px; DISPLAY: block; BACKGROUND: url(images/AntAccout.gif) -908px -47px; HEIGHT: 17px; OVERFLOW: hidden; TOP: -8px
}
.AntAccout_Center_QuickMenu .AntAccout_Content_Bottom {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 510px; PADDING-RIGHT: 0px; HEIGHT: auto; CLEAR: both; PADDING-TOP: 15px
}
.AntAccout_Center_QuickMenu .AntAccout_Content_Bottom A {
	LINE-HEIGHT: 2em; TEXT-INDENT: -2px; PADDING-LEFT: 29px; WIDTH: 60px; DISPLAY: block; BACKGROUND: url(images/AntAccout.gif) -861px -244px; FLOAT: left; HEIGHT: 21px; COLOR: #ffffff; MARGIN-LEFT: 10px; OVERFLOW: hidden; _line-height: 1.7em
}
.AntAccout_Content_Bottom A {
	COLOR: #ffffff
}
.AntAccout_Content_Bottom A:link {
	COLOR: #ffffff
}
.AntAccout_Content_Bottom A:visited {
	COLOR: #ffffff
}
.AntAccout_Content_Bottom A:hover {
	COLOR: #ffffff
}
.AntAccout_Content_Bottom A {
	LINE-HEIGHT: 2em; TEXT-INDENT: -2px; PADDING-LEFT: 29px; WIDTH: 60px; DISPLAY: block; BACKGROUND: url(images/AntAccout.gif) -861px -244px; FLOAT: left; HEIGHT: 21px; COLOR: #ffffff; MARGIN-LEFT: 10px; OVERFLOW: hidden; _line-height: 1.7em
}
